body {

    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: #1c1c1c;
    color: #fff;
}

a,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #fff;
}

p {
    margin: 0;
}

p+p {
    margin-top: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    box-sizing: border-box;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 165px;
    height: 50px;

    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;

    background: #F6762C;
    border-radius: 5px;

    transition: opacity 0.3s;
}

.btn:hover {
    opacity: 0.8;
}

.btn--small {
    width: 140px;
    height: 40px;
    font-size: 12px;
}

/* --header-- */
.header {
    padding: 25px 0;

    position: relative;
    z-index: 10;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .header__logo {
    display: flex;
    justify-content: flex-start;
    
}

.header__nav {
    display: flex;
} */

.header__list {
    display: flex;
    gap: 30px;
}

.header__nav a {
    font-size: 14px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.header__nav a.active {
    opacity: 1;
}

.header__nav a:hover {
    opacity: 0.9;
}

/*--main-- */
/* .main {} */

.welcome {
    box-sizing: border-box;
    min-height: 100vh;

    margin-top: -100px;
    padding: 240px 0;

    background-image: url(/images/welcome-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome__text {
    width: 550px;
}

.welcome__subtitle {
    margin-bottom: 7px;

    font-size: 14px;
    letter-spacing: 0.1em;
}

.welcome__title {
    font-size: 58px;

}

.welcome__desc {
    margin: 40px 0;
    font-size: 18px;
    opacity: 0.7;
}

/* --food-list-- */
.food-list {
    padding: 100px 0;
}

.food-list .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 10px;
}

.food-list__card {
    width: 260px;
    overflow: hidden;
    text-align: center;

    background: #312f30;
    border-radius: 10px;
}

.food-list__img {
    width: 100%;
    height: 175px;
    object-fit: cover;
}

.food-list__text-wrapper {
    padding: 30px 20px;
}

.food-list__title {
    font-size: 20px;
    margin-bottom: 13px;
}

.food-list__desc {
    font-size: 16px;
    opacity: 0.7;
}

/* --order-- */
.order {
    background: #312f30;
    padding: 60px 0;
}

.order .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 90px;

}

.order__img {
    max-width: 470px;
}

.order__text {
    max-width: 360px;
}

.order__title {
    margin-bottom: 25px;
    font-size: 44.2px;
}

.order__desc {
    margin-bottom: 15px;
    opacity: 0.7;
}

.order__price {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.1em;
    color: #F6762C;
}

.order__price+.order__price {
    margin-left: 3px;
}


.order__price-old {
    font-size: 16px;
    text-decoration-line: line-through;
    opacity: 0.5;
}

.order .btn {
    margin-top: 10px;
}

/* --product-- */
/* .product {} */

/* .container {} */

.product__card {
    width: 555px;
    min-height: 300px;
    padding: 60px 30px 60px 290px;
    background-repeat: no-repeat;
}

.product__card:nth-child(even) {
padding-left: 30px;
padding-right: 290px;
}

.product__title {
    margin-bottom: 20px;
    font-size: 30px;
}

.product__desc {
    margin-bottom: 10px;
    opacity: 0.7;
}

.product__price {
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #F6762C;
}

.product__price+.product__price {
    margin-left: 5px;
}

.product__price-old {
    text-decoration-line: line-through;
    opacity: 0.5;
}

.product .btn {
    margin-top: 10px;
}

.card-queen {
    background-image: url(../images/product-1.jpg);
}

.card-hut {
    background-image: url(../images/product-2.jpg);
}
.card-king {
    background-image: url(../images/product-3.jpg);
}

.card-papa {
    background-image: url(../images/product-4.jpg);
}